.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}
