.footer {
  padding: 0 16rem;
  background-color: #f8f8f6;
  padding-bottom: 4.2rem;

  &-box {
    padding: 5.5rem 1.5rem 0;
  }
}

.title {
  text-transform: uppercase;
}

.text {
  &-box {
  }
}

.sub {
}

.list {
}

.item {
}

.link {
  display: block;
}

.input {
}

.button {
}
