.element-style {
    margin-right: 11px;
}
.header {
    height: 420px;
    background-image: linear-gradient(0, #fe6433 , #f05123);
    overflow: hidden;
}
.header_navbar {
    display: flex;
    justify-content: space-between;
}
.header_navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header-navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header_navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header_navbar-user-img {
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header_navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header_navbar-user:hover .header_navbar-user-menu {
    display: block;
}

.header_navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 8px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header_navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header_navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header_navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header_navbar-user-menu::after {
    content: "";
    /*border-width: 20px 27px;*/
    /*border-style: solid;*/
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
    background: black;
}


.header_navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header_navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.header_navbar-user-item a:hover {
    background-color: #fafafa;
}

.header_navbar-item--has--qr:hover .header_qr {
    display: block;
}
.header_notify-item--has-notify:hover .header_notify {
    display: block;
}
.header_navbar-item-links {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header_navbar-item,
.header_navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header_navbar-item,
.header_navbar-item-link,
.header_navbar-item-link {
    display: flex;
    align-items: center;
}
.header_navbar-item,
.header_navbar-icon-link:hover,
.header_navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.header_navbar-item--strong {
    font-weight: 400;
}
.header_navbar-item--separate::after {
    content:"";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header_navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header_navbar-icon-link:first-child {
    margin-left: 3px;
}

.header_navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}
.header_navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/*---Header QR Code---*/
.header_qr{
    background-color: var(--white-color);
    /*width: 186px;*/
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.header_qr::before {
    content:"";
    left: 0;
    top: -16px;
    display: block;
    position: absolute;
    width: 100%;
    height: 18px;
    background-color: red;
}
.header_qr-img{
    /*width: 100%;*/
}
.header_qr-apps{
    display: flex;
    justify-content: space-between;
}
.header_qr-download-img{
    /*height: 18px;*/
}
.header_qr-link:nth-child(1) {
    margin-left: 11px;
}
.header_qr-link:nth-child(2) {
    margin-right: 12px;
}
/* header notification */
.header_notify {
    position : absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    /*border: 1px solid #d3d3d3;*/
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}
.header_notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    left: 4px;
    top: -28px;
}
.header_notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    top: -16px;
    right: 0;
    /*background-color: red;*/
}
@keyframes headNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header_notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header_notify-header h4 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header_notify-list{
    padding-left: 0;
    margin: 0;
}
.header_notify-item:hover {
    background-color: #f1f1f1;
}
.header_notify-item{
    /*display: flex;*/
    list-style-type: none;
}
.header_notify-item--viewed {
    background-color: rgb(238 , 75, 43, 0.09);
}
.header_notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    align-items: center;
    color: inherit;
}

.header_notify-link::after {
    content: '\2192'; /* Mã Unicode cho mũi tên sang phải */
    margin-left: auto;
}

.header_notify-img{
    width: 48px;
    height: auto;
    object-fit: contain;
}
.header-notify-info{
    margin-left: 12px;
    flex-grow: 1;
}
.header-notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}
.header_notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}
.header_notify-footer {
    text-align: center;
    display: flex;
}
.header_notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
/* Authen modal */
.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}
.auth-form_container {
    padding: 0 32px;
}
.auth-form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form_heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form_switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form_form {
    /*margin-top: 16px;*/
}
.auth-form_input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}
.auth-form_input:focus {
    border-color: #888;
}
.auth-form_aside {
    margin-top: 18px;
}
.auth-form_policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form_text-link {
    color: var(--primary-color);
    text-decoration: none   ;
}
.auth-form_controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form_controls-back {
    margin-right: 8px;
}
.auth-form_socials {
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form_socials-icon {
    font-size: 1.8rem;

}
.auth-form_socials-icon--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form_socials-icon--facebook .auth-form_socials-icon {
    color: var(--white-color);
}
.auth-form_socials-title {
    margin: 0 24px;
}
.auth-form_socials-icon--google {
    color: #666666;
    background-color: var(--white-color);
}
.auth-form_help {
    display: flex;
    justify-content: flex-end;
}
.auth-form_help-link {
    text-decoration: none;
    font-size: 1.4rem;
}
.auth-form_help-separate {
    display: block;
    border-left: 1px solid #eaeaea;
    height: 22px;
    margin: 1px 16px 0;
}
.auth-form_help-forgot {
    color: var(--primary-color);
}
/* Header with search */
.header-with_search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header_mobile-search {
    padding: 0 12px;
    display: none;
}
.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header_search-checkbox:checked {
    display: flex;
}

.header_logo {
    width: 200px;
}

.header_logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header-logo_img {
    width: 150px;
    color: var(--white-color);
}
.header_search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header_cart {
    width: 150px;
    text-align: center;
    /*position: relative;*/
}

.header_cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header_cart-wrap:hover .header_carl-list {

}

.header_cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header_cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header_cart-item {
    display: flex;
    align-items: center;
}


.header_cart-item:hover {
    background-color: #f8f8f8;
}

.header_cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header_cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header_cart-item-head {
    display: flex;
    /*width: 100%;*/
    align-items: center;
    justify-content: space-between;
    /*margin-right: 12px;*/
}

.header_cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header_cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header_cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header_cart-item-description {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

.header_cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header_cart-item-body {
    text-align: left;
    justify-content: space-between;
}

.header_cart-item-delete {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.header_cart-item-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header_cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header_cart-view-cart:hover {
    background-color: #f05d41;
}

.header_cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 4px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header_cart-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header_cart-wrap:hover .header_carl-list{
    display: block;
}

.header_cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: 1px;
    background-color: #fdfdfd;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header_carl-list--no-cart {
    padding: 24px 0;
}

.header_carl-list--no-cart .header_cart-no-cart-img,
.header_carl-list--no-cart .header_carl-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_cart-no-cart-img {
    width: 15px;
    display: none;
}

.header_carl-list-no-card-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header_cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 2px solid #ee4d2d;
}

.header_search-input-wrap {
    flex: 1;
    height: 100%;
    z-index: 1;
    position: relative;
}
.header_search-input {
    /*width: 100%;*/
    /*flex: 1;*/
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header_search-selection-option {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header_search-option-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header_search-select-icon {
    font-size: 1.5rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header_search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}
.header_search-btn:hover {
    cursor: pointer;
    background-color: #ec593c;
}

.header_search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header_search-selection-option:hover .header_search-option {
    display: block;

}
.header_search-option {
    position: absolute;
    right: calc(100% - 1px);
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 3px;
    /*overflow: hidden;*/
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header_search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header_search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header_search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    /*background-color: orangered;*/
    position: absolute;
    top: -10px;
    left: 0;
}
.header_search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    /*text-align: right;*/
}

.header_search-option-item:hover {
    background-color: #fafafa;
}

.header_search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header_search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header_search-option-item--active i {
    display: inline-block;
}

.header_search-input:focus ~ .header_search-history {
    display: block;
}

/* Search history*/
.header_search-history {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(189 , 189, 189);
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header_search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header_search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}
.header_search-history-list-item {
    height: 38px;
    padding: 0 12px;
}

.header_search-history-item:first-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header_search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header_search-history-item:hover {
    background-color: #fafafa;
}

.header_search-history-item a {
    text-decoration: none;
    text-emphasis: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}

/* App container */
.app {
    overflow: hidden;
}
.app_container {
    background-color: #f5f5f5;
}

.app_content {
    padding-top : 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category-heading {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
}

.category-heading-icon {
    font-size: 1.6rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}


.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    /*margin-left: 9px;*/
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item:before {
    content: "";
    border-top: 1px solid #e1e1e1;
    /*width: 100%;*/
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item_link {
    color: var(--primary-color);
}

.category-item--active .category-item_link::before {
    position: absolute;
    top: 50%;
    left: 7px;
    content: "";
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item_link {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    transition: right linear 0.2s;
    right: 0;
}

.category-item_link:hover {
    right: -4px;
    color: var(--primary-color);
}
/* Monile category */
.mobile-category {
    display: none;
}
.mobile-category_list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category_list::-webkit-scrollbar {
    display: none;
}
.mobile-category_item {
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category_item:nth-of-type(3n+1).mobile-category_link{
    background-color: #87afd8;
}
.mobile-category_item:nth-of-type(3n+2).mobile-category_link{
    background-color: #76c9bd;
}
.mobile-category_item:nth-of-type(3n+3).mobile-category_link{
    background-color: #88cf81;
}
.mobile-category_link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height)*2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}
/* Home sort + fitler */
.home-fitler {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.home-filter_label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-fitler_btn {
    min-width: 90px;
    margin-right: 12px;
}


.home-fitler_page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-fitler_page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-fitler_page-current {
    color: var(--primary-color);
}
.home-fitler_page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-fitler_page-btn {
    /*width: 36px;*/
    /*height: 36px;*/
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-fitler_page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-fitler_page-btn--disabled .home-fitler_page-icon {
    color: #ccc;
}

.home-fitler_page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-fitler_page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #ccc;
}

.home-product-item_sale-off .home-product-item_sale-off-percent {

}


/* Product item */

.home-product {
    margin-bottom: 10px;
}
/*.home-product-item-wrapper {*/
/*    margin-bottom: 10px;*/
/*}*/

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    /*border-bottom-left-radius: 2px;*/
    /*border-bottom-right-radius: 2px;*/
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0,.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item_img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item_name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    /*padding: 0 10px;*/
    margin: 10px 10px 6px 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-product-item_price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item_price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item_price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item_action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item_like {
    font-size: 1.3rem;
}
i.home-product-item_like-icon-fill {
    color: #f63d30;
    display: none;
}
.home-product-item_like--liked .home-product-item_like-icon-fill {
    display: inline-block;
}
.home-product-item_like--liked .home-product-item_like-icon-empty {
    display: none;
}
.home-product-item_rating {
    font-size: 1rem;
    /*zoom: 0.5;*/
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product-item_star--gold {
    color: var(--star-gold-color);
}

.home-product-item_sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item_origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    /*justify-content: space-between;*/
}

.home-product-item_brand {
}
.home-product-item_origin-name {
    margin-left: auto;
}

.home-product-item_favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    background: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item_favourite span {
    color: var(--white-color);
}

.home-product-item_favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid green;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item_favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item_sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item_sale-off::after {
    content:"";
    position: absolute;
    left: 0;
    width: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    /*border-color: red orange transparent orange;*/
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item_sale-off-percent {
    color: #ee4d2d;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.3rem;
    top: -1px;
}
.home-product-item_sale-off-label {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.home-production_pagination {
    margin: 40px 0 32px 0;
}

/* Footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}
.footer_heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer_list {
    padding-left: 0;
    list-style: none;
}
.footer-item_link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item_link:hover {
    color: var(--primary-color);
}
.footer-item_icon {
    font-size: 1.8rem;
    margin: -1px 8px 0 0;
}

.footer_download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer_download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_download-app-img {
    height: 16px;
}

.footer_download-app-link {
    text-decoration: none;
    color: transparent;
}
.footer_bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer_text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}
.header_sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    display: none;
}
.header_sort-item {
    flex: 1;
}
.header_sort-link {
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}
.header_sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header_sort-item--active .header_sort-link {
    color: var(--primary-color);
}
.header_sort-item:first-child .header_sort-link::before {
    display: none;
}