.wrapper {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    max-block-size: min((100vh - 96px) - 60px, 734px);
    min-block-size: 100px;
    padding-block-start: 8px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}