.faq {
  max-width: 95rem;
  margin: 0 auto;

  &__header {
    @include flex(column, center, center, nowrap);
  }

  &__sub-heading {
    max-width: 64rem;
    margin-bottom: 6.5rem;
  }

  &__list {
  }

  &__item {
    background-color: $color-primary-light-5;

    &-icon {
    }
  }
}
