.jackpot {
  max-width: 103rem;
  margin: 0 auto;

  @media screen and (max-width: $bp-lar) {
    margin: 0 4rem;
  }

  &__header {
    @include flex(row, flex-start, center, nowrap);
    margin-bottom: 10.5rem;
    position: relative;

    @media screen and (max-width: $bp-medium) {
      @include flex(column, center, center, nowrap);
      width: 100%;
      text-align: center;
    }

    &::before {
      content: "";
      width: 0.1rem;
      height: 90%;
      background-color: #949492;
      position: absolute;
      top: 50%;
      left: 46%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }

  &__heading {
    margin-right: 13rem;

    @media screen and (max-width: $bp-lar) {
      margin-right: 5rem;
    }
  }

  &__sub-heading {
    margin-right: 7.5rem;
  }

  &__content {
    @include flex(row, space-between, center, nowrap);
  }

  &__box {
    width: calc(33.3333% - 8.3333rem);

    @media screen and (max-width: $bp-lar) {
      width: calc(33.3333% - 3rem);
    }
  }
}
