.jackpot {
  max-width: 103rem;
  margin: 0 auto;

  &__header {
    @include flex(row, flex-start, center, nowrap);
    margin-bottom: 10.5rem;
  }

  &__heading {
    margin-right: 13rem;
  }

  &__sub-heading {
    margin-right: 7.5rem;
  }

  &__content {
    @include flex(row, space-between, center, nowrap);
  }

  &__box {
    width: calc(33.3333% - 83.3333rem);
    &-icon {
    }

    &-text {
    }
  }
}
