.pricing {
  max-width: 97rem;
  margin: 0 auto;

  &__header {
    @include flex(column, center, center, nowrap);
  }

  &__heading {
    max-width: 44rem;
  }

  &__sub-heading {
    max-width: 64rem;
    margin-bottom: 8rem;
  }

  &__label {
    margin-bottom: 4rem;
    display: inline-block;
    border: 2px solid $color-text;
    padding-bottom: 1px;
    padding-top: 0.5px;
    border-radius: 10rem;

    &-btn {
      &:hover {
        box-shadow: unset;
        transform: unset;
      }

      &--grey {
        color: $color-text;
      }
    }
  }

  &__content {
    @include flex(row, center, flex-start, nowrap);
  }

  &__box {
    width: calc(50% - 2rem);
    max-width: 32rem;

    &--shadow {
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &--border {
      border: 2px solid $color-text;
    }
  }

  &__value {
    margin-bottom: 2.5rem;
    span {
      font-size: 5rem;
      color: $color-primary;
      font-weight: 700;
    }
  }

  &__name {
    color: $color-primary;
  }

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &:last-child {
      margin-bottom: 4rem;
    }
  }
}
