.reason {
  max-width: 97rem;
  margin: 0 auto;

  &__header {
    @include flex(column, center, center, nowrap);
  }

  &__heading {
    max-width: 44rem;
    margin: 0 auto;
  }

  &__sub-heading {
    max-width: 64rem;
  }
}
