.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border: 1px solid #ececec;
}

.content {
  text-align: center;
}
