.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    .button {
      transform: translateX(0);
    }
  }
}

.image {
  border: 1px solid #ececec;
  position: relative;
}

.content {
  text-align: center;
}

.note {
  width: 100%;
  position: absolute;
  bottom: 0;

  visibility: hidden;
}

.button {
  width: 100%;
  transform: translateX(100%);
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(-100%);
}

.icon,
.button {
  flex-grow: 1;
}

.icon {
  font-size: 1.4rem;
  color: #666;
  flex-grow: 1;
  border-radius: unset !important;
  background-color: #fff;
  border-color: #fff;

  &:hover {
    background-color: #fff;
    border-color: #fff;
    color: #e34444;
  }
}
