// variable
$color-text: #616368;
$color-primary: #242f51;
$color-primary-light: #2563ff;
$color-primary-dark: #2500f9;

$color-secondary: #f55767;

$color-tertiary: #40975f;

$color-grey-light: #fdfdfe;
