.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  border-top: 2px dashed #dcdcdc;
  border-bottom: 2px dashed #dcdcdc;
  color: #666;
  margin-bottom: 3rem;
}
