.container {
  padding: 4rem 0 1rem;
  display: flex;
  color: #666;
}

.image {
  width: 14.5rem;
  height: 3.6rem;
  object-fit: covers;
  margin-right: 14rem;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 33.3333%;
}

.icon-box {
  width: 40 px;
  height: 40 px;
  position: relative;
  z-index: 1;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.3s ease;
  background: #eaeaea;
}

.title {
  font-size: 1.4rem;
  color: #555;
}

.sub {
  font-size: 1rem;
}
