.btn {
  &:link,
  &:active {
    display: inline-block;
    padding: 2rem 4rem;
    border-radius: 100px;
    transition: all 0.3s;
  }

  &--blue {
    background-color: $color-primary-dark;
    color: $color-white;

    &:hover,
    &:active {
      background-color: $color-primary-light;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      transform: translateY(-3px);
    }
  }

  &--white {
    color: $color-primary-dark;
    background-color: $color-white;

    &:hover,
    &:active {
      background-color: $color-grey-light;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      transform: translateY(-3px);
    }
  }
}
