.menu {
  &__list {
    list-style: none;
    @include flex(row, flex-start, center, nowrap);

    @media screen and (max-width: $bp-small) {
      @include flex(column, center, flex-start, nowrap);
    }
  }

  &__item {
  }

  &__link {
    display: block;
    padding: 2rem 1.8rem;
    font-weight: 500;
    transition: all 0.3s;

    &--grey {
      color: $color-text;

      &:hover {
        color: $color-primary-dark;
      }
    }

    &--white {
      color: $color-white;
    }
  }
}
