.menu {
  &__list {
    list-style: none;
    @include flex(row, flex-start, center, nowrap);
  }

  &__item {
  }

  &__link {
    display: block;
    padding: 2rem 1.8rem;
    &--grey {
      color: $color-text;

      &:hover {
      }
    }
  }
}
