.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 1.2rem;
  height: 4rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__language {
    margin-right: 6px;
  }
}
