.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 1.2rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    height: 4rem;
    display: flex;

    &-right {
      border-left: 1px solid #666;
      border-right: 1px solid #666;
      height: 100%;
      padding: 0 2rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__language {
    margin-right: 6px;
  }
}
