.header-top {
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-size: 1.2rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
