.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &-box {
    display: flex;
    align-items: center;
    min-width: 5rem;
    font-size: 1.2rem;
    color: #666;
  }

  &-icon-box {
    position: relative;
    padding-left: 2rem;
    border-left: 2px solid #000;
    margin-top: 3px;
  }

  &-text {
    color: #e34444;
    display: block;
    margin: 0 5px;
  }

  &:hover .dropdown {
    visibility: visible;
  }
}

.dropdown {
  position: absolute;
  visibility: hidden;
  top: 100%;
  right: 0;
  z-index: 9999;
  text-align: left;
  display: block;
}

.content {
  padding: 2rem 0px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  min-width: 300px;

  &::before {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 20%;
    width: 10%;
    position: absolute;
    pointer-events: none;
    border-color: rgba(234, 234, 234, 0);
    border-bottom-color: #eaeaea;
    border-width: 7px;
    margin-left: -7px;
    border-width: 20px;
    margin-left: -11px;
    left: inherit !important;
    right: 20px !important;
  }
  &::after {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 20%;
    width: 10%;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
    border-width: 19px;
    margin-left: -10px;
    right: 21px !important;
    left: inherit !important;
  }
}

.list {
  padding: 0 2rem;
  margin-bottom: 0;
  max-height: 30rem;
  overflow-x: auto;
}

.item {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  margin-bottom: 2rem;

  &:hover &-img {
    border: 1px solid #e34444;
  }
  &-empty {
    line-height: 100%;
    padding: 1.5rem 0;
    font-size: 1.2rem;
    color: #666;
  }

  &-img {
    float: left;
    margin-right: 1rem;
    width: 9rem;
    height: auto;
    box-shadow: none;
    border: 1px solid #eaeaea;
    transition: 0.2s ease-out;
  }

  &-price {
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & p {
      color: #666;
      font-size: 1.1rem;
      margin-bottom: 0.7rem;

      &:hover {
        color: #e34444;
      }
    }

    & span {
      color: #333;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &-delete {
    font-size: 1.2rem;
    &:hover {
      color: #e34444;
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  line-height: 6rem;
  padding: 0 2rem;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  text-align: left;
  font-size: 1.2rem;

  &-price {
    font-size: 1.6rem;
    color: #333;
    min-width: 40px;
    font-weight: 700;
  }
}

.button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0px 20px;

  & a {
    display: block;
  }
}

.button {
  width: 100%;
  background-color: #fff;
  color: #666;
  border-color: #666;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3.5rem;
}
