.main {
  width: 100%;
  color: #888;
  font-size: 1.2rem;
  background-color: #222;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.item {
  display: flex;
  color: inherit;

  &-first {
    margin-right: 3rem;
  }

  &-right {
    border-left: 1px solid rgba(136, 136, 136, 0.2);
    height: 100%;
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      border-right: 1px solid rgba(136, 136, 136, 0.2);
    }
  }
}

.image {
  margin-right: 6px;
  object-fit: contain;
}

.left-text {
  margin-right: 1rem;
}

.right-text {
  margin-left: 1rem;

  &:hover {
    color: #b34444;
    transition: all 0.2s;
  }
}
