.button {
  background-color: #222;
  color: #fff;
  border-color: #222;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #e34444;
    border-color: #e34444;
  }
}
