.wrapper {
  width: 160rem;
  max-width: 100%;
  background-color: $color-white;
}

.container {
  width: 117rem;
  margin: 0 auto;
}

.section-partner {
  margin-top: 12rem;
}

.section-features-top {
  margin-top: 15.5rem;
}
