.container {
  display: grid;
  grid-template-columns: 1.3fr 2fr 2fr;
  gap: 3rem;
}

.content {
  & p {
    font-weight: 400;
    font-size: 12px;
    color: #666;
  }
}

.contact {
  color: #666;
  &-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
