.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  & span {
    margin-bottom: 2rem;
  }
}
.title {
  margin: 10px 0;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
