.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  & span {
    margin-bottom: 2rem;
  }
}
.title {
  margin: 10px 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.buttons {
  display: flex;
  gap: 4rem;
  align-items: center;

  &:first-child {
    background-color: blue;
  }

  & button {
    align-items: unset;
  }
}
