.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 2.5rem;
  border-top: 1px solid #eaeaea;
  margin-top: 2.5rem;
  position: relative;

  & div div div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
