.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.item {
  transition: all 0.2s ease;
  &:first-child {
    color: #e34444;
  }

  &:hover {
    color: #e34444;
  }
}

.text {
  color: inherit;
}
